micronaut:
  application:
    name: cardball
  server:
    port: 8082
---
datasources:
  default:
    url: jdbc:postgresql://localhost:5432/cardball2
    driverClassName: org.postgresql.Driver
    username: postgres
    password: secret
    schema-generate: CREATE_DROP
    dialect: POSTGRES
---
jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: false
